{{ define "main" }}

<header>
    <h1>{{ $.Site.Title }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
        <p id="output"></p>
    {{- end -}}

</header>

<body>
    <p id="output"> </p>
  
</body>

    <script>

         // Define an array of quotes
	const quotes = [
      		"How we spend our days is, of course, how we spend our lives - Annie Dillard",
		"I had thought that beauty was just something to behold; I didn't know it was something you could do. - Toni Morrison",
		"To live is the rarest thing in the world. Most people just exist, that's all. - Oscar Wilde",
		"Be curious, not judgmental. - Walt Whitman",
		"sticky note enthusiast",
		"touch some grass today",
		"chase shiny things",
		"Almost everything will work again if you unplug it for a few minutes, including you. - Anne Lammott",
		"Rest is productive.",
		"Enjoy the journey.",
		"The Angels fly because they take themselves lightly. - GK Chesterton",
		"Dance!",
		"Duck!",
		"Action is the answer.",
		"If you're not growing, you're dying. - Farmers, I would assume.",
		"Sometimes a change is as good as a rest.",
		"Don't let the fear of stepping on a few toes stop you from dancing!",
		"自己的路行最小心",
		"You will always struggle with not feeling productive until you accept that your own joy can be something you produce. - Hank Green",
		"Faith in silliness",
		"Keep it simple",
		"On a never-ending search for puns.",
		"You can be a silly billy or you can be a Serious William. The choice is yours.",
		"Just passing through.",
		"Create your own culture.",
		"Just passing through.",
		"We do not see things as they are, we see them as we are. - Anais Nin",	
  		// Add more quotes as needed
		];

	// Function to generate a random quote
	function generateRandomQuote() {
  		const randomIndex = Math.floor(Math.random() * quotes.length);
  		return quotes[randomIndex];
		}
	const result = generateRandomQuote();
        document.getElementById('output').textContent = result;
	
	
    </script>


{{ partial "menu_item.html" (dict "context" . "collection" $.Site.Data.menu.entries) }}

{{ .Content }}

{{ end }}
